<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FileMapper">
	<insert id="saveImage" parameterType="com.kedu.home.dto.FileDTO">
	    <selectKey keyProperty="imageId" resultType="int" order="BEFORE">
	        SELECT regionImageSeq.NEXTVAL FROM dual
	    </selectKey>
	    INSERT INTO regionImg VALUES (#{imageId}, #{oriname}, #{sysname}, #{filePath})
	</insert>


</mapper>